/* Global styles */
* {
  box-sizing: border-box;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  background-color: #eeeafc;
  color: #301934;
}

a, a:hover {
  text-decoration: none;
}

.btn {
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  margin: 0px 10px;
  text-decoration: none;
  transition: background-color 0.3s;
}

/* Navbar styles */
.header {
  background-color: rgba(48 25 52 / 0.9);
  backdrop-filter: blur(3px);
  position: sticky;
  top: 0;
  z-index: 999;
}
.navbar {
  background-color: rgba(255 255 255 / 0);
}

.nav-link {
  color: #fafafa;
  font-size: 18px;
}

.navbar-nav .active {
  background-color: #c91574;
  border-radius: 5px;
}

@media (max-width: 767px) {
  .nav-link {
    margin-top: 10px;
    padding-left: 5px;
  }
}

/* Main Styles */
.container {
  position: relative;
  max-width: 1140px;
  padding: 20px;
}

/* Spinner */

div .spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.spinner {
  position: absolute;
  top: 50%;
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-left-color: #c91574;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
